@charset "utf-8";

header h1 {
  background-image: url(../i_and_h_mkn/img/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  width: 100%;
  margin: 0 auto;
  padding: calc(312 / 635 * 100%) 0 0;
}

.h3-about {
  width: calc(100% - 1.5em);
  margin: .5em auto 0;
  padding: .5em 0 .25em;
  font-size: 1.25em;
  border-bottom: #f2f279 4px solid;
}

.h3-about i {
  padding-right: .25em;
  color: #f2f279;
}

.twitter-tweet.twitter-tweet-rendered {
  margin: 0 auto;
  transform: rotate(-0.1deg);
}

h4.faq {
  width: calc(100% - 2em);
  margin: 1.5em auto 0;
  padding: .5em 0;
  border-top: 2px #f29dba solid;
  border-bottom: 2px #f29dba solid;
  color: #f29dba;
}

summary.faq::before {
  content: 'Q.';
  font-size: 1.25em;
  color: #e95864;
  padding-right: .25em;
}

.summary_open.faq-a::before {
  content: 'A.';
  font-size: 1.25em;
  color: #e95864;
  padding-right: .25em;
}

.summary_open .list.link {
  padding: .75em 0 0;
}

.detail {
  position: relative;
  border: solid 2px;
}

.wrapper .section details .summary_open.faq-a h5 {
  font-weight: bold;
  padding-top: .5em;
}

.wrapper .section details .summary_open.faq-a p {
  padding: .5em 0;
}

.ex {
  background-color: #f2f2f2;
  display: flex;
  margin-bottom: 1.5em;
}

.group_ex.ng .ex {
  margin-bottom: 0;
}

.ex img {
  width: 50%;
  height: 50%;
  align-self: center;
}

.detail.check {
  border-color: #50a87c;
  line-height: 1.25;
  margin-top: 1em;
}

.list-check {
  padding: 1em 1em;
}

.list-check dt {
  padding: .75em 0 .25em;
}

.list-check dd::before {
  content: '\f00c';
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  font-weight: 900;
  padding-right: .25em;
}

.list-check dd:first-of-type::before, .list-check .check_attention li::before {
  color: #50a87c;
}

.list-check dt.ok, .list-check .ok::before {
  color: #457ae6;
}

.list-check dt.ng, .list-check .ng::before {
  color: #e54552;
}

.list-check .check_attention::before {
  content: '';
  display: none;
}

.list-check .check_attention ul {
  padding: 0 0 0 .5em;
}

.list-check .check_attention li::before {
  content: '\f0a4';
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  font-weight: 900;
  padding-right: .25em;
}

.list.link {
  padding-top: .5em;
}

.list.link li i {
  color: #f29dba;
  font-size: 1em;
  padding-right: .25em;
}

.ex_ttl {
  text-align: center;
  padding: 1.25em 1em .5em;
}

.ex ul {
  padding: .75em
}

.ex li {
  font-size: .8em;
  line-height: 1.15em;
  ;
}

.sample {
  max-width: 375px;
  width: calc(100% - 2em);
  margin: 1em auto 0;
  border: 1px solid #f29dba;
}

#sozai dl {
  max-width: 1024px;
  width: calc(100% - 2em);
  margin: 1em auto;
  padding: 1em;
  border: 2px #f29dba solid;
  border-radius: 5px;
}

#sozai dl dt {
  color: #f29dba;
}

.area_thumb {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.area_thumb.column-3 a {
  width: calc(100% / 3);
}

.area_thumb.column-2 a {
  width: calc(100% / 2);
  align-items: center;
  display: flex;
}

.special_area {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  gap: 1em;
}

a.event {
  display: block;
}

a.event img {
  border-radius: .5em;
  width: 100%;
}

a.new_items:hover,
a.event:hover,
.area_thumb a:hover,
.pagetop a:hover {
  opacity: .75;
}

a.fk {
  background-color: #ac88d1;
}

a.sk {
  background-color: #e981b4;
}

a.nb {
  background-color: #5888e9;
}

a.dt {
  background-color: #e95864;
}

a.iw {
  background-color: #ffe45e;
}

a.ab {
  background-color: #64d188;
}

a.kj {
  background-color: #ffa273;
}

a.mg {
  background-color: #4c4c4c;
}

a.ru {
  background-color: #ccc;
}

a.all {
  background-image: url(/i_and_h_mkn/img/thumb_all_bg.png);
  background-position: center center;
  background-size: cover;
}

a.new_items {
  background-color: #f2f279;
  display: block;
  text-align: center;
}

a.archives {
  background-color: #f29dba;
}

.contact-btn {
  width: calc(100% - 2em);
  margin: 0 auto;
  padding: .5em 0;
  display: flex;
  flex-direction: column;
}

.contact-btn .btn_group {
  display: flex;
  width: 100%;
  padding: .5em 0;
  box-sizing: border-box;
}

.contact-btn button.btn {
  width: calc(100% - .5em);
  margin: 0;
}

.contact-btn button.btn:hover p,
button.btn:active p {
  padding: calc(1em - 4px) 0;
}

.contact-btn .btn_group .btn_main {
  width: 70%;
  height: 4em;
  border-radius: 10px 0 0 10px;
}

.contact-btn .btn_group .btn_sub {
  background-color: #f2f279;
  color: #f29dba;
  font-size: .6em;
  width: 30%;
  border-radius: 0 10px 10px 0;
}

.contact-btn button.btn p {
  padding: .75em 0;
}

.contact-btn .btn_group:nth-of-type(2) .btn_main p {
  width: 100%;
  padding: 0 0;
}

.question {
  padding: 1em 0 0;
  border-top: 2px solid #f29dba;
  border-bottom: 2px solid #f29dba;
  display: block;
}

.question i {
  padding-right: .5em;
}

.share {
  background-color: #f29dba;
  margin: 1em 0;
  padding: .5em 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.share p {
  width: auto;
  margin: 0;
  padding: .5em .5em .5em 0;
  color: #fff;
  text-align: right;
}

.twitter_btn {
  width: auto;
  text-align: left;
}

.twitter-share-button[data-text],
.twitter-share-button[data-url] {
  white-space: pre-wrap;
}

footer p {
  padding: 1em;
}

/* pc */
@media screen and (min-width: 560px) {
  header h1 {
    background-image: url(../i_and_h_mkn/img/logo_pc.png);
  }

  .area_half {
    display: flex;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }

  .h3-about {
    max-width: 960px;
    width: calc(100% - 2em);
  }

  .area_half .detail {
    width: calc(50% - 1em);
  }

  .h3-ok,
  .h3-ng {
    left: calc(50% - 1.5em);
    padding: 0 1em;
  }

  .def-ok,
  .def-ng {
    padding: 1em 0;
  }

  .group_ex {
    width: 50%;
  }

  #sozai dl {
    display: flex;
    align-items: center;
  }

  #sozai dl dt {
    padding-right: 1em;
  }

  .area_thumb {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }

  .area_thumb a {
    width: 50%;
    text-align: center;
    background-position-x: center;
  }

  .area_thumb.column-3 a {
    position: relative;
  }

  .area_thumb.column-3 a::before {
    content: '';
    padding-top: 100%;
    display: block;
    position: absolute;
  }

  .area_thumb a img {
    width: 100%;
  }

  .area_thumb a.all img,
  .area_thumb a.archives img {
    width: auto;
    margin: 0 auto;
  }

  .area_thumb.column-3 a img {
    max-width: 250px;
  }

  .area_single {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
  }

  .contact-btn {
    max-width: 960px;
    width: calc(100% - 2em);
    flex-direction: row;
  }

  .contact-btn .btn_group {
    padding: .5em 1em;
  }

  .contact-btn button.btn {
    width: calc(100% - 1.5em);
  }

  .contact-btn button.btn p {
    padding: 1em 0;
  }

  .twitter_btn {
    padding-right: 1.5em;
  }
}